@font-face {
    font-family: "monobloc-sans";
    src: url("Monobloc-Regular.woff") format(woff),
         url("Monobloc-Regular.woff2") format(woff2);
         font-weight: normal;
         font-style: normal;
}

@font-face {
    font-family: "Monobloc-Variable";
    src: url("monoblocvariable.ttf") format("truetype-variations");
  }


.brushscript {
    font-family: brush-script-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.duos {
    font-family: duos-brush, sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    font-family: "Monobloc-Variable";
    font-variation-settings: "wght" 400;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
}

body {
    font-family: "monobloc-sans";
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "brush-script-std";
    line-height: 0;
    font-size: 2rem;
    letter-spacing: -2px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

ul {
    padding: 0;
    width: 100%;
    font-family: "Monobloc-Variable";
    font-variation-settings: "wght" 750;
}

ol {
    padding: 0;
    width: 100%;
    font-family: "Monobloc-Variable";
    font-variation-settings: "wght" 750;
}

li {
    margin-top: 10px;
    margin-right: 1rem;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    font-family: "Monobloc-Variable";
    font-variation-settings: "wght" 400;
}

ul > li {
    list-style-type: none;
}

li > img {
    width: 100%;
    height: auto;
}


a {
    color: black;
    text-decoration: none;
    position: absolute;
    margin: 15px;
    transition: color 200ms ease-in-out;
}

.sidebyside > p > a {
    margin: 0;
    position:relative;
}

a:hover {
    cursor: help;    
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-thickness: 1.5px;
}

p {
    margin: 15px;
    padding: 0;

}

span {
    font-family: "duos-brush";
    font-size: 1rem;
    line-height: 0;
    padding:0 2px;
}

nav {
    width: 100%;
    position: fixed;
    z-index: 100;
}

img {
    width: 100%;
}

.justify {
    display: flex;
    justify-content: space-around;
    height: 100vh;

}

.sidebyside {
    display: flex;
    justify-content:space-between;
    margin: 0;
    padding: 0;
}

.sidebyside > p {
    width: 30%;
    height: 100%;
}

.sidebyside > ul {
    width: 30%;
    height: 100%;
    overflow-y: scroll;
}

.relative {
    position: relative;
}

.center {
    align-self: center;
    height: 70%;
    width: 60%;
    transform: translateY(-5%);
}

.window {
    align-self: center;
    background: white;
    border: black solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30rem;
    width:50rem;
    overflow: hidden;
    position: relative;
}

#field {
    top: 0;
    left: 0;
    align-self: center;
    height: 30rem;
    width: 50rem;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    transform: scale(5.1);

}

#field > button {
    font-family: 'Monobloc-Variable';
    border: black solid 1px;
    margin: 0;
    padding:0;
}
#field > button:hover {
    cursor: pointer;
}
 #slider {
    display: flex;
    justify-content: space-around;
 } 

  .inarow {
      display: flex;
  }

  .textcontain {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;

  }

.spoken {
    position: absolute;
    top: 15.5%;
    width: calc(50vw - 26rem);
    height: 30rem;
    margin: 0 10px 0 10px;
    overflow-y: scroll;
}

.references {
    position: absolute;
    top: 15.5%;
    width: calc(50vw - 26rem);
    height: 30rem;
    right: 0;
    margin: 0 10px 0 10px;
    overflow-y: scroll;
}

.references > button {
    background: none;
    border: none;
    margin: 0 0 10px 0;
    font-family: "monobloc-sans";
    font-size: 1rem;
}

.references > div {
    margin: 0 0 10px 0;
    padding: 0 0 10px 10px;
}

.references > button:hover {
    cursor: cell;    
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-thickness: 1.5px;
}


.modal {
    transform: scale(0);
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    transition: 400ms ease-in-out;
}

  .modal.active {
    transform: scale(1);
  }

.draggable {
    cursor: move;
}

.draggable > button {
    background: none;
    border: none;
    font-family: "monobloc-sans";
    font-size: 1rem;
}

.draggable > button:hover {
    cursor: pointer;
}

  .ref-pop {
      display: none;
      width: 20rem;
      padding: 10px;
      border: black solid 1px;
      background: white;
      height:fit-content;
  }

  
/* selection */
::selection {
    background:black;
    color:white;
  }



  /* slider */
  input[type="range"] {
    -webkit-appearance: none;
   }
   
   input[type="range"]:focus {
    outline: none;
   }

   input[type="range"]::-webkit-slider-runnable-track {
    background: white;
    border: black solid 1px;
    height: 5px;
    border-radius: 2.5px;
   }
   
   input[type="range"]::-moz-range-track {
    background: white;
    border: black solid 1px;
    height: 5px;
    border-radius: 2.5px;
   }

   input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: white;
    border: black solid 1px;
    margin-top: -5px;
    border-radius: 50%;
   }
   
   input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: white;
    border: black solid 1px;
    margin-top: -5px;
    border-radius: 50%;
   }

   .dropdown-head {
       position:relative;
       margin:0;
   }

   .dropdown-head:hover {
    cursor: cell;
   }

   .dropdown {
       max-height: 26rem;
       overflow-y: scroll;
   }

   #typeit {
    background-image: url('images/tiles/tile1.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit2 {
    background-image: url('images/tiles/tile2.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit3 {
    background-image: url('images/tiles/tile3.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit4 {
    background-image: url('images/tiles/tile4.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit5 {
    background-image: url('images/tiles/tile5.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit6 {
    background-image: url('images/tiles/tile6.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit7 {
    background-image: url('images/tiles/tile7.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit8 {
    background-image: url('images/tiles/tile8.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit9 {
    background-image: url('images/tiles/tile9.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit10 {
    background-image: url('images/tiles/tile10.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit11 {
    background-image: url('images/tiles/tile11.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit12 {
    background-image: url('images/tiles/tile12.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit13 {
    background-image: url('images/tiles/tile13.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit14 {
    background-image: url('images/tiles/tile14.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit15 {
    background-image: url('images/tiles/tile15.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit16 {
    background-image: url('images/tiles/tile16.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit17 {
    background-image: url('images/tiles/tile17.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit18 {
    background-image: url('images/tiles/tile18.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit19 {
    background-image: url('images/tiles/tile19.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit20 {
    background-image: url('images/tiles/tile20.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit21 {
    background-image: url('images/tiles/tile21.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit22 {
    background-image: url('images/tiles/tile22.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit23 {
    background-image: url('images/tiles/tile23.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit24 {
    background-image: url('images/tiles/tile24.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }
   #typeit25 {
    background-image: url('images/tiles/tile25.jpg');
       background-size: 100% 100%;
       background-repeat:no-repeat;
   }




   .back {
       display: flex;
       justify-content: space-around;
       background:black;
       color: white;
       background-size: 100% 100%;
       position: relative;
       height: 5.5rem;
   }

   .back > div {
       align-self: center;
       height: 5.2rem;
       width: 95%;
       font-size: 0.25rem;
   }
   .back > div >img {
    align-self: center;
    height: 100%;
    width: auto;
}